<template>
   <div class="about">
      <h1>About</h1>

      <p>{{ count }}</p>
      <p>{{ doubleCount }}</p>
      <button @click="increase">increase</button>

      <br />

      <h2 v-if="users.length === 0">Loading...</h2>

      <p v-for="user in users" :key="user.id">{{ user.name }}</p>
   </div>
</template>

<script lang="ts">
   import {
      defineComponent,
      onMounted,
      reactive,
      Ref,
      ref,
      computed,
   } from "vue";

   export default defineComponent({
      setup() {
         const users = ref<object[]>([]);
         const count: Ref<number> = ref(0);

         const doubleCount = computed<number>(() => {
            return count.value * 2;
         });

         function increase() {
            count.value++;
         }

         onMounted(async () => {
            const res = await fetch(
               "https://jsonplaceholder.typicode.com/users"
            );
            users.value = await res.json();
         });

         return {
            users,
            count,
            doubleCount,
            increase,
         };
      },
   });
</script>

<style scoped>
   button {
      margin-bottom: 20px;
   }

   p {
      font-size: 1.3rem;
      font-weight: bold;
   }
</style>
