<template>
   <h1>Contact</h1>

   <h2>{{ state }}</h2>
   <h1>{{ count }}</h1>
   <h3>{{ randomNumber }}</h3>
   <button @click="increaseStore">click</button>

   <p v-for="contact in contacts" :key="contact">{{ contact }}</p>
</template>

<script lang="ts">
   import { computed, defineComponent, ref, watch } from "vue";
   import { useStore } from "vuex";

   export default defineComponent({
      setup() {
         const store = useStore();
         const randomNumber = ref(Math.random());

         const contacts: string[] = [
            "myemail@email.com",
            "082370583023",
            "@calon_jenazah",
         ];

         watch(randomNumber, (value) => {
            console.log(Math.floor(value * 20));
         });

         function increaseStore() {
            randomNumber.value = Math.random();
            store.state.count = store.state.count + 2;
         }

         return {
            count: computed(() => store.state.count),
            state: computed(() => store.state.count * 2),
            contacts,
            increaseStore,
            randomNumber,
         };
      },
   });
</script>

<style scoped></style>
