<template>
   <div class="home">
      <img alt="Vue logo" src="../assets/logo.png" />
      <h1 @click="showName">{{ name }}</h1>
      <h3>{{ person.name }}, {{ person.age }}</h3>
      <HelloWorld msg="Welcome to Your Vue.js + TypeScript App" />
   </div>
</template>

<script lang="ts">
   import { defineComponent, reactive, Ref, ref } from "vue";
   import HelloWorld from "@/components/HelloWorld.vue";

   interface Person {
      name: string;
      age: number;
   }

   export default defineComponent({
      components: { HelloWorld },

      setup() {
         const name: Ref<string> = ref("farhan apriliandi");

         const person = reactive<Person>({
            name: "farhan apriliandi",
            age: 19,
         });

         function showName() {
            alert("my name is " + name.value);
         }

         return {
            name,
            person,
            showName,
         };
      },
   });
</script>
