<template>
   <h1>{{ msg }}</h1>
   <h2>{{ count }}</h2>
   <button @click="increase">increase</button>
</template>

<script lang="ts">
   import { defineComponent } from "vue";

   export default defineComponent({
      name: "HelloWorld",

      props: {
         msg: String,
      },

      data() {
         return {
            count: 0,
         };
      },

      methods: {
         increase() {
            this.count++;
         },
      },
   });
</script>

<style scoped>
   h3 {
      margin: 40px 0 0;
   }
   ul {
      list-style-type: none;
      padding: 0;
   }
   li {
      display: inline-block;
      margin: 0 10px;
   }
   a {
      color: #42b983;
   }
</style>
